#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=yubioauth
Name=Yubico Authenticator
Comment=TOTP authenticator for Yubikey
#Icon=icon path here
