#Central file for all aliases (no matter what shell I use)

# Include any local aliases if present
if [ -f /etc/bashrc ]; then
	. ~/.aliases_local
fi

# ls
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# ridiculous shitty stuff
alias ubuntu="docker run -it --rm ubuntu:latest bash -c \"apt update -y ; apt upgrade -y ; bash\""
alias centos="docker run -it --rm centos:latest bash -c \"yum update -y ; bash\""

alias ubuntu_full="docker run -it --rm ubuntu:latest bash -c \"apt update -y ; apt upgrade -y ; apt install -y git ; cd ; git clone https://github.com/hannesknutsson/MyConfigs.git ; cd MyConfigs ; bash install_packages.bash ; bash install_oh-my-zsh.bash ; bash setup.bash ; cd ; zsh\""
alias centos_full="docker run -it --rm centos:latest bash -c \"yum update -y ; yum install -y git zsh ; cd ; git clone https://github.com/hannesknutsson/MyConfigs.git ; cd MyConfigs ; bash install_packages.bash ; bash install_oh-my-zsh.bash ; bash setup.bash ; cd ; zsh\""

