[user]
	email = hannes.knutsson96@gmail.com
	name = Hanke

[credential "https://github.com"]
	username = hannesknutsson
	helper = store

[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	whitespace = cr-at-eol

[status]
	showUntrackedFiles = all

[diff]
	renames = copies

[tag]
	sort = version:refname
