[include]
	path = ~/.gitconfig_local

[user "https://github.com"]
	email = hannes.knutsson96@gmail.com
	name = Hanke

[credential "https://github.com"]
	username = hannesknutsson
	helper = store

[core]
	editor = vim
	excludesfile = ~/.gitignore_global

[status]
	showUntrackedFiles = all

[diff]
	renames = copies

[tag]
	sort = version:refname

[color]
	ui = auto

[push]
	default = simple
